* {
	font-family: InterVariable, sans-serif;
}

#messages {
	padding: 0px;
	list-style-position: inside;
}

#message-form:not([hidden]) {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 25em;
}

#message-form > [name=message] {
	margin: 0 .3em .3em 0;
	flex: 1;
}

dialog > p {
	margin-top: 0;
}

dialog button {
	display: block;
	margin: auto;
}
